* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 576px) {
  * {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  * {
    font-size: 16px;
  }
}

body {
  background: #a8dadc;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h4 {
  color: #457b9d;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 3vw;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1vw;
  }
}

h2 {
  color: #1d3557;
  font-size: 7vw;
  font-weight: 400;
}

@media (min-width: 1200px) {
  h2 {
    font-size: 3.5vw;
  }
}

section {
  position: relative;
  padding-top: 5%;
  z-index: 100;
  background: #f2fcef;
}

section h2 {
  text-align: center;
  margin-bottom: 3vh;
}

section h2::after {
  content: url("../assets/underline.svg");
  display: block;
  -webkit-transform: translate(0rem, -2rem) scale(0.6);
          transform: translate(0rem, -2rem) scale(0.6);
  position: relative;
  z-index: -2;
}

@media (min-width: 768px) {
  section h2::after {
    -webkit-transform: translate(0rem, -3.5rem) scale(1);
            transform: translate(0rem, -3.5rem) scale(1);
  }
}

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 576px) {
  * {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  * {
    font-size: 16px;
  }
}

body {
  background: #a8dadc;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h4 {
  color: #457b9d;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 3vw;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1vw;
  }
}

h2 {
  color: #1d3557;
  font-size: 7vw;
  font-weight: 400;
}

@media (min-width: 1200px) {
  h2 {
    font-size: 3.5vw;
  }
}

section {
  position: relative;
  padding-top: 5%;
  z-index: 100;
  background: #f2fcef;
}

section h2 {
  text-align: center;
  margin-bottom: 3vh;
}

section h2::after {
  content: url("../assets/underline.svg");
  display: block;
  -webkit-transform: translate(0rem, -2rem) scale(0.6);
          transform: translate(0rem, -2rem) scale(0.6);
  position: relative;
  z-index: -2;
}

@media (min-width: 768px) {
  section h2::after {
    -webkit-transform: translate(0rem, -3.5rem) scale(1);
            transform: translate(0rem, -3.5rem) scale(1);
  }
}

.btn {
  border: none;
  border-radius: 10vw;
  color: #f2fcef;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 3vw 1vw;
  width: 35vw;
  font-size: 4vw;
  margin: auto;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: 1px solid transparent;
  position: relative;
  z-index: 1;
}

.btn:hover {
  background: none;
}

@media (min-width: 768px) {
  .btn {
    padding: 2.5vw 1vw;
    width: 30vw;
    font-size: 2.5vw;
  }
}

@media (min-width: 1200px) {
  .btn {
    padding: 0.75rem 1rem;
    width: 10rem;
    font-size: 1rem;
  }
}

.btn--accent {
  background: #e63946;
}

.btn--accent:hover {
  border: 1px solid #e63946;
  color: #e63946;
}

.btn--secondary {
  background: #457b9d;
}

.btn--secondary:hover {
  color: #457b9d;
  border: 1px solid #457b9d;
}

.btn__top {
  position: fixed;
  z-index: 1000000 !important;
  top: 20px;
  right: 20px;
  width: 8rem;
  font-size: 0.8rem;
  padding: 0.5rem 0.75rem;
  display: none;
  -webkit-transition: 0.25s all linear;
  transition: 0.25s all linear;
}

.btn__send {
  width: 10rem;
  margin-top: 1.5rem;
  padding: 0.5rem 0.75rem;
}

.btn-top-show {
  display: block;
}

.card {
  background: rgba(255, 255, 255, 0.295);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  height: 30vh;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px rgba(69, 123, 157, 0.07);
          box-shadow: 0px 5px 20px rgba(69, 123, 157, 0.07);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-family: "Poppins", sans-serif;
  padding: 1rem 2rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 992px) {
  .card {
    padding: 2rem 4rem;
    height: 40vh;
  }
}

@media (min-width: 1200px) {
  .card {
    height: 60vh;
  }
}

.card h3 {
  color: #a8dadc;
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
  top: -1.3rem;
  right: 1.5rem;
}

.card ul {
  list-style: none;
  color: #1d3557;
  -webkit-columns: 2;
          columns: 2;
}

@media (min-width: 992px) {
  .card ul {
    -webkit-columns: 1;
            columns: 1;
  }
}

.card li {
  padding: 0.85rem;
}

@media (min-width: 768px) {
  .card li {
    padding: 0.5rem 5vw;
  }
}

.card:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.icon {
  background: linear-gradient(135deg, #457b9d, #a8dadc);
  border-radius: 3px;
  font-size: 2rem;
  color: #f2fcef;
  padding: 0.5rem;
  margin-right: 1rem;
}

@media (min-width: 1200px) {
  .icon {
    font-size: 1.5rem;
  }
}

#home {
  padding-top: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12vh;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media (min-width: 992px) {
  #home {
    padding-top: 10vh;
    gap: 10vh;
  }
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  gap: 12vh;
  text-align: center;
}

@media (min-width: 992px) {
  .header__wrapper {
    gap: 10vh;
  }
}

@media (min-width: 1200px) {
  .header__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
    gap: 5vw;
    padding: 0 10vw;
  }
}

.text__wrapper {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__img {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  width: 70vw;
  -webkit-animation: animate 4s linear infinite;
          animation: animate 4s linear infinite;
}

@media (min-width: 768px) {
  .header__img {
    width: 55vw;
  }
}

@-webkit-keyframes animate {
  0%,
  100% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  50% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

@keyframes animate {
  0%,
  100% {
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  50% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
}

.btn__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 2vw;
}

.parallax__container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

.parallax__container .parallax {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-width: 768px;
}

.parallax__container .bottom {
  z-index: 3;
}

.parallax__container .middle {
  z-index: -2;
}

.parallax__container .top {
  z-index: -4;
}

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 576px) {
  * {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  * {
    font-size: 16px;
  }
}

body {
  background: #a8dadc;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h4 {
  color: #457b9d;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 3vw;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1vw;
  }
}

h2 {
  color: #1d3557;
  font-size: 7vw;
  font-weight: 400;
}

@media (min-width: 1200px) {
  h2 {
    font-size: 3.5vw;
  }
}

section {
  position: relative;
  padding-top: 5%;
  z-index: 100;
  background: #f2fcef;
}

section h2 {
  text-align: center;
  margin-bottom: 3vh;
}

section h2::after {
  content: url("../assets/underline.svg");
  display: block;
  -webkit-transform: translate(0rem, -2rem) scale(0.6);
          transform: translate(0rem, -2rem) scale(0.6);
  position: relative;
  z-index: -2;
}

@media (min-width: 768px) {
  section h2::after {
    -webkit-transform: translate(0rem, -3.5rem) scale(1);
            transform: translate(0rem, -3.5rem) scale(1);
  }
}

.btn {
  border: none;
  border-radius: 10vw;
  color: #f2fcef;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 3vw 1vw;
  width: 35vw;
  font-size: 4vw;
  margin: auto;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: 1px solid transparent;
  position: relative;
  z-index: 1;
}

.btn:hover {
  background: none;
}

@media (min-width: 768px) {
  .btn {
    padding: 2.5vw 1vw;
    width: 30vw;
    font-size: 2.5vw;
  }
}

@media (min-width: 1200px) {
  .btn {
    padding: 0.75rem 1rem;
    width: 10rem;
    font-size: 1rem;
  }
}

.btn--accent {
  background: #e63946;
}

.btn--accent:hover {
  border: 1px solid #e63946;
  color: #e63946;
}

.btn--secondary {
  background: #457b9d;
}

.btn--secondary:hover {
  color: #457b9d;
  border: 1px solid #457b9d;
}

.btn__top {
  position: fixed;
  z-index: 1000000 !important;
  top: 20px;
  right: 20px;
  width: 8rem;
  font-size: 0.8rem;
  padding: 0.5rem 0.75rem;
  display: none;
  -webkit-transition: 0.25s all linear;
  transition: 0.25s all linear;
}

.btn__send {
  width: 10rem;
  margin-top: 1.5rem;
  padding: 0.5rem 0.75rem;
}

.btn-top-show {
  display: block;
}

.card {
  background: rgba(255, 255, 255, 0.295);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  height: 30vh;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px rgba(69, 123, 157, 0.07);
          box-shadow: 0px 5px 20px rgba(69, 123, 157, 0.07);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-family: "Poppins", sans-serif;
  padding: 1rem 2rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 992px) {
  .card {
    padding: 2rem 4rem;
    height: 40vh;
  }
}

@media (min-width: 1200px) {
  .card {
    height: 60vh;
  }
}

.card h3 {
  color: #a8dadc;
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
  top: -1.3rem;
  right: 1.5rem;
}

.card ul {
  list-style: none;
  color: #1d3557;
  -webkit-columns: 2;
          columns: 2;
}

@media (min-width: 992px) {
  .card ul {
    -webkit-columns: 1;
            columns: 1;
  }
}

.card li {
  padding: 0.85rem;
}

@media (min-width: 768px) {
  .card li {
    padding: 0.5rem 5vw;
  }
}

.card:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.icon {
  background: linear-gradient(135deg, #457b9d, #a8dadc);
  border-radius: 3px;
  font-size: 2rem;
  color: #f2fcef;
  padding: 0.5rem;
  margin-right: 1rem;
}

@media (min-width: 1200px) {
  .icon {
    font-size: 1.5rem;
  }
}

#habilidades {
  background-color: #f2fcef;
  width: 100vw;
  min-height: 100vh;
}

#habilidades .cards__container {
  width: 80vw;
  height: 70vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  gap: 6vh;
}

@media (min-width: 768px) {
  #habilidades .cards__container {
    height: 60vh;
  }
}

@media (min-width: 992px) {
  #habilidades .cards__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 576px) {
  * {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  * {
    font-size: 16px;
  }
}

body {
  background: #a8dadc;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h4 {
  color: #457b9d;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 3vw;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1vw;
  }
}

h2 {
  color: #1d3557;
  font-size: 7vw;
  font-weight: 400;
}

@media (min-width: 1200px) {
  h2 {
    font-size: 3.5vw;
  }
}

section {
  position: relative;
  padding-top: 5%;
  z-index: 100;
  background: #f2fcef;
}

section h2 {
  text-align: center;
  margin-bottom: 3vh;
}

section h2::after {
  content: url("../assets/underline.svg");
  display: block;
  -webkit-transform: translate(0rem, -2rem) scale(0.6);
          transform: translate(0rem, -2rem) scale(0.6);
  position: relative;
  z-index: -2;
}

@media (min-width: 768px) {
  section h2::after {
    -webkit-transform: translate(0rem, -3.5rem) scale(1);
            transform: translate(0rem, -3.5rem) scale(1);
  }
}

.btn {
  border: none;
  border-radius: 10vw;
  color: #f2fcef;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 3vw 1vw;
  width: 35vw;
  font-size: 4vw;
  margin: auto;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: 1px solid transparent;
  position: relative;
  z-index: 1;
}

.btn:hover {
  background: none;
}

@media (min-width: 768px) {
  .btn {
    padding: 2.5vw 1vw;
    width: 30vw;
    font-size: 2.5vw;
  }
}

@media (min-width: 1200px) {
  .btn {
    padding: 0.75rem 1rem;
    width: 10rem;
    font-size: 1rem;
  }
}

.btn--accent {
  background: #e63946;
}

.btn--accent:hover {
  border: 1px solid #e63946;
  color: #e63946;
}

.btn--secondary {
  background: #457b9d;
}

.btn--secondary:hover {
  color: #457b9d;
  border: 1px solid #457b9d;
}

.btn__top {
  position: fixed;
  z-index: 1000000 !important;
  top: 20px;
  right: 20px;
  width: 8rem;
  font-size: 0.8rem;
  padding: 0.5rem 0.75rem;
  display: none;
  -webkit-transition: 0.25s all linear;
  transition: 0.25s all linear;
}

.btn__send {
  width: 10rem;
  margin-top: 1.5rem;
  padding: 0.5rem 0.75rem;
}

.btn-top-show {
  display: block;
}

.card {
  background: rgba(255, 255, 255, 0.295);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  height: 30vh;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px rgba(69, 123, 157, 0.07);
          box-shadow: 0px 5px 20px rgba(69, 123, 157, 0.07);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-family: "Poppins", sans-serif;
  padding: 1rem 2rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 992px) {
  .card {
    padding: 2rem 4rem;
    height: 40vh;
  }
}

@media (min-width: 1200px) {
  .card {
    height: 60vh;
  }
}

.card h3 {
  color: #a8dadc;
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
  top: -1.3rem;
  right: 1.5rem;
}

.card ul {
  list-style: none;
  color: #1d3557;
  -webkit-columns: 2;
          columns: 2;
}

@media (min-width: 992px) {
  .card ul {
    -webkit-columns: 1;
            columns: 1;
  }
}

.card li {
  padding: 0.85rem;
}

@media (min-width: 768px) {
  .card li {
    padding: 0.5rem 5vw;
  }
}

.card:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.icon {
  background: linear-gradient(135deg, #457b9d, #a8dadc);
  border-radius: 3px;
  font-size: 2rem;
  color: #f2fcef;
  padding: 0.5rem;
  margin-right: 1rem;
}

@media (min-width: 1200px) {
  .icon {
    font-size: 1.5rem;
  }
}

#projetos {
  height: 100vh;
  width: 100vw;
}

#projetos .project__slide {
  background: white;
  width: 80vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  position: relative;
  margin: auto;
  margin-top: -2vh;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px rgba(69, 123, 157, 0.07);
          box-shadow: 0px 5px 20px rgba(69, 123, 157, 0.07);
  overflow: hidden;
}

@media (min-width: 768px) {
  #projetos .project__slide {
    margin-top: -5vh;
  }
}

@media (min-width: 1200px) {
  #projetos .project__slide {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 75vw;
    height: 55vh;
  }
}

#projetos .project__slide .project__img {
  width: 100%;
  border-radius: 20px 20px 0 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1200px) {
  #projetos .project__slide .project__img {
    width: 71%;
    border-radius: 20px 0 0 20px;
  }
}

#projetos .project__slide .project__texts {
  height: 60vh;
  padding: 2vh 8vw;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2vh;
}

@media (min-width: 1200px) {
  #projetos .project__slide .project__texts {
    padding: 4vh 2vw;
    height: 100%;
  }
}

#projetos .project__slide .project__texts .project__title,
#projetos .project__slide .project__texts .project__subtitle,
#projetos .project__slide .project__texts .project__links {
  font-weight: 400;
  text-transform: uppercase;
  color: #457b9d;
  font-size: 2vh;
}

#projetos .project__slide .project__texts .project__title {
  text-align: right;
  color: #1d3557;
}

#projetos .project__slide .project__texts .project__description {
  font-size: 2vh;
  color: #1d3557;
}

#projetos .project__links li {
  font-size: 2vh;
}

#projetos .project__links li a {
  color: #e63946;
  font-size: 2vh;
}

#projetos .project__controls {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  color: #a8dadc;
}

#projetos .prev__btn,
#projetos .next__btn {
  margin: 0 3rem;
}

#projetos .project__circle {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #a8dadc;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

#projetos .project__circle--active {
  background: #e63946;
}

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 576px) {
  * {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  * {
    font-size: 16px;
  }
}

body {
  background: #a8dadc;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h4 {
  color: #457b9d;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 3vw;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1vw;
  }
}

h2 {
  color: #1d3557;
  font-size: 7vw;
  font-weight: 400;
}

@media (min-width: 1200px) {
  h2 {
    font-size: 3.5vw;
  }
}

section {
  position: relative;
  padding-top: 5%;
  z-index: 100;
  background: #f2fcef;
}

section h2 {
  text-align: center;
  margin-bottom: 3vh;
}

section h2::after {
  content: url("../assets/underline.svg");
  display: block;
  -webkit-transform: translate(0rem, -2rem) scale(0.6);
          transform: translate(0rem, -2rem) scale(0.6);
  position: relative;
  z-index: -2;
}

@media (min-width: 768px) {
  section h2::after {
    -webkit-transform: translate(0rem, -3.5rem) scale(1);
            transform: translate(0rem, -3.5rem) scale(1);
  }
}

.btn {
  border: none;
  border-radius: 10vw;
  color: #f2fcef;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 3vw 1vw;
  width: 35vw;
  font-size: 4vw;
  margin: auto;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: 1px solid transparent;
  position: relative;
  z-index: 1;
}

.btn:hover {
  background: none;
}

@media (min-width: 768px) {
  .btn {
    padding: 2.5vw 1vw;
    width: 30vw;
    font-size: 2.5vw;
  }
}

@media (min-width: 1200px) {
  .btn {
    padding: 0.75rem 1rem;
    width: 10rem;
    font-size: 1rem;
  }
}

.btn--accent {
  background: #e63946;
}

.btn--accent:hover {
  border: 1px solid #e63946;
  color: #e63946;
}

.btn--secondary {
  background: #457b9d;
}

.btn--secondary:hover {
  color: #457b9d;
  border: 1px solid #457b9d;
}

.btn__top {
  position: fixed;
  z-index: 1000000 !important;
  top: 20px;
  right: 20px;
  width: 8rem;
  font-size: 0.8rem;
  padding: 0.5rem 0.75rem;
  display: none;
  -webkit-transition: 0.25s all linear;
  transition: 0.25s all linear;
}

.btn__send {
  width: 10rem;
  margin-top: 1.5rem;
  padding: 0.5rem 0.75rem;
}

.btn-top-show {
  display: block;
}

.card {
  background: rgba(255, 255, 255, 0.295);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  height: 30vh;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px rgba(69, 123, 157, 0.07);
          box-shadow: 0px 5px 20px rgba(69, 123, 157, 0.07);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-family: "Poppins", sans-serif;
  padding: 1rem 2rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 992px) {
  .card {
    padding: 2rem 4rem;
    height: 40vh;
  }
}

@media (min-width: 1200px) {
  .card {
    height: 60vh;
  }
}

.card h3 {
  color: #a8dadc;
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
  top: -1.3rem;
  right: 1.5rem;
}

.card ul {
  list-style: none;
  color: #1d3557;
  -webkit-columns: 2;
          columns: 2;
}

@media (min-width: 992px) {
  .card ul {
    -webkit-columns: 1;
            columns: 1;
  }
}

.card li {
  padding: 0.85rem;
}

@media (min-width: 768px) {
  .card li {
    padding: 0.5rem 5vw;
  }
}

.card:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.icon {
  background: linear-gradient(135deg, #457b9d, #a8dadc);
  border-radius: 3px;
  font-size: 2rem;
  color: #f2fcef;
  padding: 0.5rem;
  margin-right: 1rem;
}

@media (min-width: 1200px) {
  .icon {
    font-size: 1.5rem;
  }
}

#formacao {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.qualification__content {
  height: 90vh;
  width: 80vw;
  margin: auto;
}

@media (min-width: 768px) {
  .qualification__content {
    margin-top: -4vh;
    width: 50vw;
  }
}

.qualification__data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr max-content 1fr;
      grid-template-columns: 1fr -webkit-max-content 1fr;
      grid-template-columns: 1fr max-content 1fr;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  text-align: center;
}

.qualification__title {
  color: #1d3557;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 2vh;
  letter-spacing: 0.15rem;
}

.qualification__type {
  color: #e63946;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 1.5vh;
}

.qualification__place {
  color: #457b9d;
  font-size: 1.5vh;
}

.qualification__year {
  color: #a8dadc;
  letter-spacing: 0.1rem;
  font-size: 1.5vh;
}

.qualification__circle {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #a8dadc;
  border-radius: 50%;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
  position: relative;
  z-index: 2;
}

.qualification__line {
  display: block;
  width: 1px;
  height: 100%;
  background: #a8dadc;
  -webkit-transform: translate(6px, -7px);
          transform: translate(6px, -7px);
}

.qualification__circle--active {
  background: #e63946;
}

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 576px) {
  * {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  * {
    font-size: 16px;
  }
}

body {
  background: #a8dadc;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h4 {
  color: #457b9d;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 3vw;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1vw;
  }
}

h2 {
  color: #1d3557;
  font-size: 7vw;
  font-weight: 400;
}

@media (min-width: 1200px) {
  h2 {
    font-size: 3.5vw;
  }
}

section {
  position: relative;
  padding-top: 5%;
  z-index: 100;
  background: #f2fcef;
}

section h2 {
  text-align: center;
  margin-bottom: 3vh;
}

section h2::after {
  content: url("../assets/underline.svg");
  display: block;
  -webkit-transform: translate(0rem, -2rem) scale(0.6);
          transform: translate(0rem, -2rem) scale(0.6);
  position: relative;
  z-index: -2;
}

@media (min-width: 768px) {
  section h2::after {
    -webkit-transform: translate(0rem, -3.5rem) scale(1);
            transform: translate(0rem, -3.5rem) scale(1);
  }
}

.btn {
  border: none;
  border-radius: 10vw;
  color: #f2fcef;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 3vw 1vw;
  width: 35vw;
  font-size: 4vw;
  margin: auto;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: 1px solid transparent;
  position: relative;
  z-index: 1;
}

.btn:hover {
  background: none;
}

@media (min-width: 768px) {
  .btn {
    padding: 2.5vw 1vw;
    width: 30vw;
    font-size: 2.5vw;
  }
}

@media (min-width: 1200px) {
  .btn {
    padding: 0.75rem 1rem;
    width: 10rem;
    font-size: 1rem;
  }
}

.btn--accent {
  background: #e63946;
}

.btn--accent:hover {
  border: 1px solid #e63946;
  color: #e63946;
}

.btn--secondary {
  background: #457b9d;
}

.btn--secondary:hover {
  color: #457b9d;
  border: 1px solid #457b9d;
}

.btn__top {
  position: fixed;
  z-index: 1000000 !important;
  top: 20px;
  right: 20px;
  width: 8rem;
  font-size: 0.8rem;
  padding: 0.5rem 0.75rem;
  display: none;
  -webkit-transition: 0.25s all linear;
  transition: 0.25s all linear;
}

.btn__send {
  width: 10rem;
  margin-top: 1.5rem;
  padding: 0.5rem 0.75rem;
}

.btn-top-show {
  display: block;
}

.card {
  background: rgba(255, 255, 255, 0.295);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  height: 30vh;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px rgba(69, 123, 157, 0.07);
          box-shadow: 0px 5px 20px rgba(69, 123, 157, 0.07);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-family: "Poppins", sans-serif;
  padding: 1rem 2rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 992px) {
  .card {
    padding: 2rem 4rem;
    height: 40vh;
  }
}

@media (min-width: 1200px) {
  .card {
    height: 60vh;
  }
}

.card h3 {
  color: #a8dadc;
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
  top: -1.3rem;
  right: 1.5rem;
}

.card ul {
  list-style: none;
  color: #1d3557;
  -webkit-columns: 2;
          columns: 2;
}

@media (min-width: 992px) {
  .card ul {
    -webkit-columns: 1;
            columns: 1;
  }
}

.card li {
  padding: 0.85rem;
}

@media (min-width: 768px) {
  .card li {
    padding: 0.5rem 5vw;
  }
}

.card:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.icon {
  background: linear-gradient(135deg, #457b9d, #a8dadc);
  border-radius: 3px;
  font-size: 2rem;
  color: #f2fcef;
  padding: 0.5rem;
  margin-right: 1rem;
}

@media (min-width: 1200px) {
  .icon {
    font-size: 1.5rem;
  }
}

#contato {
  height: 100vh;
  width: 100vw;
}

#contato #submit__message {
  text-align: center;
  margin-top: -50px;
  margin-bottom: 50px;
  color: #1d3557;
  -webkit-animation: all 4s ease forwards;
          animation: all 4s ease forwards;
}

#contato .contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin: -10vh auto;
  height: 80vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1200px) {
  #contato .contact__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 70vw;
    margin: -20vh auto;
  }
}

#contato form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
  margin: auto;
}

@media (min-width: 1200px) {
  #contato form {
    width: 40%;
  }
}

#contato #name,
#contato #email,
#contato #message,
#contato .contact__card {
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 5px 20px rgba(69, 123, 157, 0.07);
          box-shadow: 0px 5px 20px rgba(69, 123, 157, 0.07);
  padding: 0.5rem;
  background: white;
}

#contato #message {
  height: 15vh;
}

@media (min-width: 768px) {
  #contato #message {
    height: 20vh;
  }
}

#contato label {
  color: #1d3557;
  letter-spacing: 0.2rem;
  margin-top: 1rem;
  font-size: 1.5vh;
}

#contato .contact__info {
  width: 80vw;
  text-align: center;
  letter-spacing: 0.2rem;
  margin: auto;
}

@media (min-width: 768px) {
  #contato .contact__info {
    width: 50vw;
  }
}

@media (min-width: 1200px) {
  #contato .contact__info {
    width: 35%;
  }
}

#contato .contact__card {
  padding: 2rem;
  margin: 1.5rem 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contato .contact__text {
  color: #1d3557;
  font-size: 1.7vh;
  border: none;
  resize: none;
  display: block;
  font-family: "Nanum Gothic", sans-serif;
  text-align: center;
  margin: auto;
  letter-spacing: 0.2rem;
  height: 3vh;
  width: 80%;
}

#contato .contact__text textarea {
  resize: none;
  height: 2vh;
  width: 80%;
}

#contato .contact__link {
  color: #e63946;
  font-size: 1.3vh;
}

#contato .contact__icon {
  position: absolute;
  top: -10px;
  left: -10px;
  font-size: 2rem;
  color: #a8dadc;
}

#contato .tooltip {
  position: relative;
  display: inline-block;
}

#contato .tooltip .tooltiptext {
  visibility: hidden;
  width: 8rem;
  background-color: #457b9d;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.25rem;
  position: absolute;
  z-index: 1;
  top: 150%;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#contato .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 576px) {
  * {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  * {
    font-size: 16px;
  }
}

body {
  background: #a8dadc;
  height: 100vh;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h4 {
  color: #457b9d;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 3vw;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1vw;
  }
}

h2 {
  color: #1d3557;
  font-size: 7vw;
  font-weight: 400;
}

@media (min-width: 1200px) {
  h2 {
    font-size: 3.5vw;
  }
}

section {
  position: relative;
  padding-top: 5%;
  z-index: 100;
  background: #f2fcef;
}

section h2 {
  text-align: center;
  margin-bottom: 3vh;
}

section h2::after {
  content: url("../assets/underline.svg");
  display: block;
  -webkit-transform: translate(0rem, -2rem) scale(0.6);
          transform: translate(0rem, -2rem) scale(0.6);
  position: relative;
  z-index: -2;
}

@media (min-width: 768px) {
  section h2::after {
    -webkit-transform: translate(0rem, -3.5rem) scale(1);
            transform: translate(0rem, -3.5rem) scale(1);
  }
}

.btn {
  border: none;
  border-radius: 10vw;
  color: #f2fcef;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 3vw 1vw;
  width: 35vw;
  font-size: 4vw;
  margin: auto;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  border: 1px solid transparent;
  position: relative;
  z-index: 1;
}

.btn:hover {
  background: none;
}

@media (min-width: 768px) {
  .btn {
    padding: 2.5vw 1vw;
    width: 30vw;
    font-size: 2.5vw;
  }
}

@media (min-width: 1200px) {
  .btn {
    padding: 0.75rem 1rem;
    width: 10rem;
    font-size: 1rem;
  }
}

.btn--accent {
  background: #e63946;
}

.btn--accent:hover {
  border: 1px solid #e63946;
  color: #e63946;
}

.btn--secondary {
  background: #457b9d;
}

.btn--secondary:hover {
  color: #457b9d;
  border: 1px solid #457b9d;
}

.btn__top {
  position: fixed;
  z-index: 1000000 !important;
  top: 20px;
  right: 20px;
  width: 8rem;
  font-size: 0.8rem;
  padding: 0.5rem 0.75rem;
  display: none;
  -webkit-transition: 0.25s all linear;
  transition: 0.25s all linear;
}

.btn__send {
  width: 10rem;
  margin-top: 1.5rem;
  padding: 0.5rem 0.75rem;
}

.btn-top-show {
  display: block;
}

.card {
  background: rgba(255, 255, 255, 0.295);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  height: 30vh;
  border-radius: 20px;
  -webkit-box-shadow: 0px 5px 20px rgba(69, 123, 157, 0.07);
          box-shadow: 0px 5px 20px rgba(69, 123, 157, 0.07);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  font-family: "Poppins", sans-serif;
  padding: 1rem 2rem;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 992px) {
  .card {
    padding: 2rem 4rem;
    height: 40vh;
  }
}

@media (min-width: 1200px) {
  .card {
    height: 60vh;
  }
}

.card h3 {
  color: #a8dadc;
  position: absolute;
  font-size: 1.5rem;
  text-align: center;
  top: -1.3rem;
  right: 1.5rem;
}

.card ul {
  list-style: none;
  color: #1d3557;
  -webkit-columns: 2;
          columns: 2;
}

@media (min-width: 992px) {
  .card ul {
    -webkit-columns: 1;
            columns: 1;
  }
}

.card li {
  padding: 0.85rem;
}

@media (min-width: 768px) {
  .card li {
    padding: 0.5rem 5vw;
  }
}

.card:hover {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.icon {
  background: linear-gradient(135deg, #457b9d, #a8dadc);
  border-radius: 3px;
  font-size: 2rem;
  color: #f2fcef;
  padding: 0.5rem;
  margin-right: 1rem;
}

@media (min-width: 1200px) {
  .icon {
    font-size: 1.5rem;
  }
}

nav {
  background-color: #def2e9;
  position: fixed;
  padding: 0 1.5rem 0 1.5rem;
  bottom: 0rem;
  width: 100vw;
  height: 4rem;
  font-size: 4rem;
  line-height: 4rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1000;
}

nav a {
  color: #457b9d;
  line-height: 4rem;
}

nav .nav--active {
  background-color: #1d3557;
  color: #f2fcef;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 0.5rem 0.5rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 3em;
  height: 100%;
  padding: 1rem 1rem;
}

nav .nav__icon {
  display: block;
  font-size: 2rem;
}

nav .nav__link {
  display: none;
}

@media (min-width: 768px) {
  nav {
    bottom: 1.5rem;
    left: calc(50% - 15.5rem);
    width: 29rem;
    height: 2rem;
    border-radius: 5rem;
    height: 2rem;
  }
  nav .nav--active {
    border-radius: 5rem;
    width: 6rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1rem;
  }
  nav .nav__icon {
    display: none;
  }
  nav .nav__link {
    display: inline-block;
    font-size: 0.75rem;
  }
}
/*# sourceMappingURL=index.css.map */