@import "./config";
@import ".//global";
@import "./components";

#habilidades {
 .cards__container {
  width: 80vw;
  height: 70vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  gap: 6vh;

  @include breakpoint(md) {
   height: 60vh;
  }

  @include breakpoint(lg) {
   flex-direction: row;
   justify-content: center;
   align-content: center;
   align-items: center;
  }
 }
}
