@import "./config";
@import ".//global";
@import "./components";

#projetos {
 height: 100vh;
 width: 100vw;

 .project__container {
  display: flex;
  position: relative;
  height: 70vh;
  width: 80vw;
  box-shadow: 0px 5px 20px rgba(69, 123, 157, 0.07);
  margin: auto;
  overflow: hidden;
  @include breakpoint(xl) {
   width: 75vw;
   height: 55vh;
  }
 }

 .slide.active {
  opacity: 1;
  transform: translateX(0);
 }
 .slide.next {
  transform: translateX(100%);
 }
 .slide.last {
  transform: translateX(-100%);
 }

 .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  background: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;

  @include breakpoint(xl) {
   flex-direction: row;
  }

  .project__img {
   width: 100%;
   border-radius: 20px 20px 0 0px;
   object-fit: cover;

   @include breakpoint(xl) {
    width: 71%;
    border-radius: 20px 0 0 20px;
   }
  }

  .project__texts {
   height: 60vh;
   padding: 2vh 8vw;
   margin: auto 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   gap: 2vh;
   @include breakpoint(xl) {
    padding: 4vh 2vw;
    height: 100%;
   }
   .project__title,
   .project__subtitle,
   .project__links {
    font-weight: 400;
    text-transform: uppercase;
    color: $secondaryColor;
    font-size: 2vh;
   }
   .project__title {
    text-align: right;
    color: $darkColor;
   }

   .project__description {
    font-size: 2vh;
    color: $darkColor;
   }
  }
 }
 .project__links li {
  font-size: 2vh;
  a {
   color: $accentColor;
   font-size: 2vh;
  }
 }
 .project__controls {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 1.8rem;
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  color: $primaryColor;
 }

 .prev__btn,
 .next__btn {
  margin: 0 3rem;
 }

 .project__circle {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: $primaryColor;
  transition: 0.2s all linear;
 }
 .project__circle--active {
  background: $accentColor;
 }
}
